input {
    border: 1px solid skyblue;
}

:host {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    margin: 1rem;
    font-size: 14px;
    flex-wrap: wrap;
}
.special{
    background-color: orangered;
}